<footer class="bg-black ph3 pv4 white">
	<div class="mw7 center pt3">
		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb2 primary">Regionaler Support</h3>
					<a href="tel:+4962269680090">Tel: +49 (0) 6226 9680090</a><br/>
			</div>
		</div>
	</div>
	<div class="mw7 center pt3">
		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb1 primary">Corrently</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>


					<li><a href="/post" class="link">Blog</a></li>

				</ul>
			</div>
			<div>
				<h3 class="f4 b lh-title mb1 primary">Mitwirken/Kontakt</h3>
				<ul class="mb3">
					<li><a href="https://t.me/corrently" class="link">Kontakt (via Telegram)</a></li>
					<li><a href="https://gitter.im/corrently/Lobby" class="link">Mitwirken (via Gitter)</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mw7 center pt3">
		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb1 primary">Welt</h3>
				<strong>Corrently Corp</strong><br/>Oliaji Trade Centre<br/> Victoria, Mahe, <br/>Seychelles
			</div>
			<div>
				<h3 class="f4 b lh-title mb1 primary">Deutschland</h3>
				 	<strong>STROMDAO GmbH</strong><br/>Gerhard Weiser Ring 29<br/>69256 Mauer<br/>Germay<br/>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">United Kingdom</h3>
				 <strong>STROMDAO Limited</strong><br/>
				 120 High Road, East Finchley, High Road<br/>
				 London, England, N2 9ED<br/>
				 United Kingdom
			</div>
		</div>
	</div>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
