<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>{{ .Title }} | Corrently.blog</title>

	<meta name="twitter:image" content="/assets/img/Corrently%20192x192.png">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/assets/img/Corrently%20512x512.png">
	<link rel="icon" type="image/png" sizes="31x32" href="/assets/img/Corrently%2031x32.png">
   <link rel="icon" type="image/png" sizes="31x32" href="/assets/img/Corrently%2031x32.png">
   <link rel="icon" type="image/png" sizes="98x42" href="/assets/img/corrently_logo..png">
   <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/Corrently%20192x192.png">
   <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/Corrently%20512x512.png">
   <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
   <link rel="manifest" href="/manifest.json">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bowlby+One+SC">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cherry+Swash">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chivo">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Copse">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
   <link rel="stylesheet" href="/assets/css/styles.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
   <link type="application/rss+xml" rel="alternate"
      title="CorrentlyTalk - Podcast" href="https://feeds.buzzsprout.com/1099127.rss"/>
    <link type="application/rss+xml" rel="alternate"
         title="CorrentlyBlog - 100% grün informiert" href="https://corrently.blog/index.xml"/>
	 <meta name="google-site-verification" content="wLhTv8f_XC_olAF35a6jd8AAaVg1iUiaYoP_pJbzBbk" />
	 <!-- Open Graph -->
	<meta property="og:title" content="Corrently Blog: {{.Title}}" >
  <!-- Matomo Tag Manager -->
  <script type="text/javascript">
  var _mtm = _mtm || [];
  _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
  g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://data.stromdao.de/matomo/js/container_uJ68FNmd.js'; s.parentNode.insertBefore(g,s);
  </script>
  <!-- End Matomo Tag Manager -->
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
