<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="https://app.corrently.de/imgs/corrently_logo.png" alt="Corrently - Blockchain based decentralized capacity market" class="br0 db mb0 w-100"/>
	</a>

	<div class="dropleft">
	        <a role="presentation"  class="btn btn-warning dropdown-toggle" target="_blank" class="dropdown-item" href="https://www.corrently.de/corrently/checkout"><i class="fa fa-money"></i>&nbsp;Angebote GrünstromBonus</a>
	        <a role="presentation"  class="btn btn-warning dropdown-toggle" target="_blank" class="dropdown-item" href="https://www.corrently.de/corrently/das-corrently-geheimnis"><i class="fa fa-user-secret"></i>&nbsp;Das Corrently Geheimnis</a>
	        <a role="presentation"  class="btn btn-warning dropdown-toggle" target="_blank" class="dropdown-item" href="https://www.corrently.de/corrently/wir-bauen-ein-kraftwerk"><i class="fa fa-road"></i>&nbsp;Meine Energie für morgen</a>
					<a role="presentation"  class="btn btn-warning dropdown-toggle" target="_blank" class="dropdown-item" href="https://www.gruenstromindex.de/"><i class="fa fa-bar-chart"></i>&nbsp;GrünstromIndex</a>
	         <div class="dropdown-divider"></div>https://corrently.blog/
	        <a role="presentation" class="dropdown-item" href="https://stromdao.de/impressum/" target="_blank">Impressum und Datenschutz</a>
	        <a role="presentation" class="dropdown-item" href="https://stromdao.de/" target="_blank"><strong>STROM</strong>DAO</a>
	        <a role="presentation" class="dropdown-item" href="https://stromdao.de/kontakt" target="_blank">Kontakt</a>
	    </div>
	</div>

</nav>
