<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXGJM8H"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white shadow-lg navbar-custom" style="background-color: rgb(255,255,255);height: 30px;">
		<div class="container"><a href="https://www.corrently.de/"><img src="/assets/img/Corrently%2098x25.png"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse"
						id="navbarResponsive">
						<ul class="nav navbar-nav ml-auto">
								<li class="nav-item" role="presentation"><a class="nav-link" href="https://www.corrently.de/">Privatkunden</a></li>
								<li class="nav-item" role="presentation"><a class="nav-link" href="https://www.corrently.de/gewerbe.html">Gewerbe</a></li>
								<li class="nav-item" role="presentation"><a class="nav-link" href="https://www.corrently.de/versorger.html">Energieversorger</a></li>
						</ul>
				</div>
		</div>
</nav>
<section class="text-center d-flex justify-content-lg-center justify-content-xl-center" style="background-color: #3c6f2f;" onclick="location.href='/';">
			 <div class="container text-center justify-content-lg-center justify-content-xl-center" style="height: 150px;margin: 0px;margin-top: 50px;margin-bottom: 0px;margin-right: 0px;padding: 0px;padding-top: 35px;">
					 <h1 class="text-center d-block pulse animated" style="color: rgb(255,255,255);font-family: caviar_dreamsbold;font-size: 46px;"><span style="color: rgb(255,184,0);">B</span>log</h1>
					 <h2 class="text-center d-block float-none" style="color: rgb(255,255,255);font-size: 20px;font-family: 'DIN Alternate Bold';">100% grün informiert</h2>
			 </div>
</section>
