<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="https://splash.corrently.de/assets/img/corrently_logo.png" alt="Corrently - Blockchain based Ökostrom" class="br0 db mb0 w-100"/>
	</a>

	<ul class="flex b grey-3">
		<li><a href="https://www.corrently.de/" class="pa3 no-underline db">Deutschland</a></li>
		<li><a href="https://www.corrently.de/versorger.html" class="pa3 no-underline db">Energieversorger</a></li>
		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>		
		<li><a href="https://www.gruenstromindex.de/" class="pa3 no-underline db">GrünstromIndex</a></li>
	</ul>

</nav>
